.image {
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.image #zoomOut img {
    transform: scale(1.1);
    transition: 0.5s ease-out;
}

.image #zoomOut:hover img {
    transform: scale(1);

}

.text-center {
    font-family: Copperplate, Papyrus, fantasy;
}